.main-header__container {
  background-color: #ffffff;
  color: #000000;
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;
  padding-top: 13px;
}

.main-header__logo {
  display: block;
  cursor: pointer;
  outline: none;

  &--name {
    margin-left: 56px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-container {
  display: flex;
  max-width: 320px;
  padding: 0 20px 14px 20px;
  box-sizing: border-box;
  align-items: center;
  margin: 0 auto;
}


@media (min-width: @tablet-width) {
  .main-header__container {
    margin: 0 auto;
    display: flex;
    padding-top: 25px;
    width: 704px;
    align-items: flex-start;
  }

  .main-header__logo--name {
    margin-left: 11px;
    margin-right: 93px;
  }

  .main-header__logo-container {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    width: 100%;
    position: relative;
    box-sizing: border-box;

    &--index::before {
      content: "";
      display: block;
      width: 50vw;
      height: 694px;
      background-color: #68b738;
      opacity: 85%;
      position: absolute;
      top: 0;
      left: 50vw;
      z-index: 2;
      box-sizing: border-box;
    }

    &--index::after {
      content: "";
      display: block;
      width: 50vw;
      height: 694px;
      background-image: url("../img/cat-tongue-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 50vw;
      z-index: 1;
      box-sizing: border-box;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/cat-tongue-desktop@2x.jpg");
        background-size: cover;
      }
    }
  }

  .main-header__container {
    padding-top: 54px;
    width: 1220px;
    position: relative;
    margin: 0 auto;
    justify-content: space-between;
  }

  .main-header__logo-container {
    display: flex;
    width: 202px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-right: 30px;
  }

  .main-header__logo--name {
    display: none;
  }
}
