.main-nav__toggle{
  border: none;
  width: 24px;
  height: 24px;
  background-image: url("../img/header_menu.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  margin-left: 65px;
}

.menu-open{
  display: none;
}
