.main-header {
  background-color: #FFFFFF;
  color: #000000;
  width: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 13px 20px 14px 20px;
  box-sizing: border-box;
}

.main-header__logo {
  background-repeat: no-repeat;
  display: block;

  &--img {
    background-image: url("../img/logo.svg");
    width: 33px;
    height: 38px;
  }

  &--name {
    background-image: url("../img/logo_text.svg");
    width: 101px;
    height: 18px;
    margin-left: 56px;
  }
}
