.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus {
    .copyright__logo {
      background-color: #68b738;
    }
  }

  &:active {
    opacity: 0.3;

    .copyright__logo {
      background-color: #68b738;
    }
  }
}

.copyright__text {
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  outline: none;
}

.copyright__logo {
  display: block;
  width: 27px;
  height: 34px;
  outline: none;
  mask-image: url("../img/sprite.svg#html-academy");
  background-color: #666666;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 168px;
  }

  .copyright__text {
    padding-left: 5px;
  }
}
