.social {
  height: 62px;
  display: flex;
  border: 1px solid #d9d9d9;
  margin-left: 20px;
  margin-right: 20px;
  border-left: none;
  border-right: none;
}

.social__list {
  .list-reset();
  display: flex;
  margin: 20px auto;
  max-width: 132px;
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  background-repeat: no-repeat;
  margin-right: 24px;
  outline: none;

  &--vkontakte {
    margin-top: 3px;
    mask-image: url("../img/sprite.svg#vk");
    background-color: #666666;

    &:hover,
    &:focus {
      background-color: #68B738;
    }

    &:active {
      opacity: 0.3;
      background-color: #68B738;
    }
  }

  &--youtube {
    mask-image: url("../img/sprite.svg#youtube");
    background-color: #666666;

    &:hover,
    &:focus {
      background-color: #68B738;
    }

    &:active {
      opacity: 0.3;
      background-color: #68B738;
    }

  }

  &--telegram {
    mask-image: url("../img/sprite.svg#telegram");
    background-color: #666666;

    &:hover,
    &:focus {
      background-color: #68B738;
    }

    &:active {
      opacity: 0.3;
      background-color: #68B738;
    }
  }

  &:hover svg,
  &:focus svg {
    fill: #68b738;
  }

  &:active svg {
    fill: #68b738;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social {
    border: none;
    margin-left: 60px;
  }
}
