.contact__input{
  padding-left: 15px;
  padding-top: 14px;
  padding-bottom: 13px;
  border: 1px solid #E7E7E7;

  &::placeholder {
    text-transform: uppercase;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }
}

.contact__item{
  &--email{
    padding-top: 35px;
  }

  &--phone{
    padding-top: 14px;
  }
}
