.desc__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

.desc__story {
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.desc__facts {
  margin-top: 20px;
}

@media (min-width: @tablet-width) {
  .desc__title {
    font-size: 60px;
    line-height: 60px;
  }

  .desc__story {
    font-size: 16px;
    line-height: 24px;
    margin-top: 60px;
  }

  .desc__facts {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .desc__facts {
    display: block;
  }

  .desc__container {
    display: flex;
    flex-wrap: wrap;
    width: 546px;
  }
  .desc__color{
    background-color: #F2F2F2;
    width: 100vw;
  }

  .desc__story{
    margin-top: 70px;
    padding-left: 110px;
  }

  .desc__title{
    padding-left: 110px;
    margin-bottom: 76px;
  }

  .desc__facts{
    padding-left: 110px;
  }
}
