.example {
  background-color: #eaeaea;
  width: 100%;
}

.example__wrapper {
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet-width) {
  .example__wrapper {
    min-width: 708px;
    padding-top: 45px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .example {
    background-color: #ffffff;
    border-top: 1px solid #E6E6E6;
  }
}

@media (min-width: @desktop-width) {
  .example {
    background-color: #ffffff;
    display: flex;
    margin: 0 auto;
    min-width: 1220px;
    border: none;
  }

  .example__wrapper {
    margin: 0;
    padding: 0;
  }

  .example__color {
    background-color: #f2f2f2;
  }
}
