.example {
  background-color: #eaeaea;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .example__wrapper {
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    background-color: #ffffff;
    display: flex;
    margin: 0 auto;
    width: 1220px;
  }

  .example__wrapper {
    margin: 0;
  }

  .example__color {
    background-color: #f2f2f2;
  }
}
