.facts__number {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
}

.facts__description {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-transform: lowercase;
  color: #444444;
}

.facts__money {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  padding-left: 46px;
}

.facts__list {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .facts__money {
    font-size: 20px;
  }

  .facts__number {
    font-size: 30px;
    line-height: 37px;
  }

  .facts__description {
    font-size: 14px;
    line-height: 14px;
  }

  .facts__list {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .facts__money {
    padding-left: 0;
    padding-top: 55px;
  }
}
