.progress__item {
  .list-reset();
}

.progress__text {
  font-family: "Lato", "Arial", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  padding-left: 80px;
  background-repeat: no-repeat;
  padding-top: 2px;
  padding-bottom: 24px;
  color: #444444;

  &--icon-leaf {
    background-image: url("../img/icon_leaf.svg");
  }

  &--icon-tub {
    background-image: url("../img/icon_tub.svg");
  }

  &--icon-eat {
    background-image: url("../img/icon_eat.svg");
  }

  &--icon-alarm {
    background-image: url("../img/icon_alarm.svg");
  }
}


@media (min-width: @tablet-width) {
  .progress__item {
    height: 280px;
    margin-bottom: 37px;

    &--icon-leaf {
      width: 230px;
      margin-right: 153px;
    }

    &--icon-tub {
      width: 246px;
    }

    &--icon-eat {
      width: 247px;
      margin-right: 137px;
    }

    &--icon-alarm {
      width: 249px;
    }
  }

  .progress__text {
    padding-top: 151px;
    padding-left: 0;
    padding-bottom: 57px;
    font-size: 16px;
    line-height: 24px;
    background-position-y: 40px;
  }
}

@media (min-width: @desktop-width) {
  .progress__item {
    margin: 0;
  }
}
