.questionnaire__description {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  width: 226px;
  padding-top: 37px;
}

.questionnaire__form {
  border: none;
  color: #444444;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.questionnaire__legend {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
  width: 187px;


  &--contact-owner {
    padding-top: 26px;
  }

  &--comment {
    padding-top: 24px;
  }

  &--other-part {
    padding-top: 23px;
  }
}

.questionnaire__button {
  background-color: #68B738;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px 78px;
  margin-top: 34px;
}

.questionnaire__small-legend {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  display: block;
  padding-top: 21px;
  padding-left: 64px;
  padding-bottom: 32px;
}
