.show-all__catalog {
  width: 280px;
  background-color: #F2F2F2;
  color: #444444;
  border: none;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 95px;
  text-decoration: none;
  margin-top: 21px;
}

.show-all__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 53px;
  margin-bottom: 8px;
}

.show-all__slogan {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0 auto;
}
