.target-program {
  padding-top: 46px;
}

.target-program__list {
  .list-reset();
}

.target__item:not(:last-child) {
  padding-left: 45px;
  padding-bottom: 19px;
}

.target__item:last-child {
  padding-left: 45px;
}

@media (min-width: @tablet-width) {
  .target-program {
    padding-top: 72px;
  }

  .target__text {
    font-size: 20px;
    line-height: 30px;
  }
}
